body, html{
    height: 100%;
}

.cabecalho{
    background-color: green;
    height: 20%;
}

.esquerda{
    height: 60%;
    width: 33%;
    display: inline-block;
    background-color: lightcoral;
}

.centro{
    height: 60%;
    width: 33%;
    display: inline-block;
    background-color: blue;
}

.direita{
    height: 60%;
    width: 33%;
    display: inline-block;
    background-color: gray;
}

.rodape{
    height: 20%;
    background-color: purple;
}