#cab{
    background-color: blue;
}

#esq{
    background-color: brown;
}

#cen{
    background-color: chartreuse;
}

#dir{
    background-color: darkgoldenrod;
}

#rod{
    background-color: darkviolet;
}