
body, html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px;
    margin: 0px;
}

.aluno{
    width: 20%;
    float: left;
}

.aluno .alunoBorder{
    border: 1px solid #000000;
    text-align: center;
    padding-bottom: 10px;
    padding: 10px;
}

.aluno img{
    width: 100%;
}

.alunoDetalhe{
    border: 1px solid #000000;
    width: 75%;
    margin: auto auto;
    padding: 15px;
}

.alunoDetalhe hr{
    clear: both;
}

.alunoDetalhe img{
    height: 200px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.alunoDetalhe table{
    width: 100%;
}

.alunoDetalhe .cabecalho{
    background-color: black;
    color: white;
}

